<!-- name -->
<div class="col-sm-7">
<h3>
<% if @issue.details && @issue.details["uri"] %>
<% uri = @issue.details["uri"] %>
 <p><a href="<%= h uri  %>"><%= h @issue.name %></a><br/></p>
<% else %>
   <%= h @issue.name %>
<% end %>
</h3>

Entity: <a href="/<%=@issue.project.name%>/entities/<%=@issue.entity.id%>"><%= @issue.entity.type_string %> <%= @issue.entity.name %></a><br/>

Task Result: <a href="/<%=@issue.project.name%>/results/<%=@issue.task_result.id%>"><%= @issue.task_result.name %></a> <br/>

<br/>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">-
        <a data-toggle="collapse" href="#collapse1">Details</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body"><pre class="prettyprint"><%=h JSON.pretty_generate @issue.to_hash %></pre></div>
    </div>
  </div>
</div>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
