<div class="container-fluid">
<div class="row">
  <div class="container-fluid">
  <div id="findings-table" class="col-sm-19">

    <b><a href="/<%=h @project_name%>/issues?page=<%=@page-1%>"><< previous</a> | 
    <a href="/<%=h @project_name%>/issues?page=<%=@page+1%>">next >> </a></b>
    
    <table id="issues-table" class="table table-striped">
      <thead>
      <tr >
        <th>Name</th>
        <th>Entity</th>
        <th>Status</th>
        <th>Severity</th>
        <th>Scoped</th>
      </tr>
      </thead>
      <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><a href="<%="/#{h @project_name}/issues/#{h issue.id }"%>"><%= h issue.pretty_name %></a></td>
          <td><%=h issue.entity.name%><br><%issue.entity.aliases{ |x|%> <%=h x.name %> <br><%}%></td>
          <td><%=issue.status%></td>
          <td><%=issue.severity%></td>
          <td><%=issue.scoped ? checkmark_image : xmark_image %></td>
        </tr>
      <% end %>

      </tbody>
    </table>

  </div>
  </div>
</div>
</div>

<script>
$(document).ready( function () {
  $('#issues-table').DataTable({
    "searching": true,
    "ordering" : true,
    'autoWidth': true,
    'headers' : false,
    "responsive": true,
    "scrollCollapse": true,
    "paging": false,
    "info" : false,
    "stateSave": true,  
    "order": [[ 3, "asc" ]],
    'columnDefs': [
      {'width': '30%', 'targets': 0},
      {'width': '30%', 'targets': 1},
      {'width': '30%', 'targets': 2},
      {'width': '30%', 'targets': 3},
      {'width': '30%', 'targets': 4}
    ]
  });
});
</script>