<div class="container-fluid">
<div class="row">
  <div class="container-fluid">
  <div id="findings-table" class="col-sm-19">
    <script type="text/javascript" src="/js/sorttable.js"></script>
    <style>
    /* Sortable tables */
    table.sortable {
      width: 100%;
      border: 0;
      table-layout:fixed;
      word-wrap:break-word;
      border-collapse:collapse;
    }

    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }
    </style>
    <p></p>
    <a href="/<%=h @project_name%>/issues?page=<%=@page-1%>">previous</a>
    <a href="/<%=h @project_name%>/issues?page=<%=@page+1%>">next</a>
    <table class="sortable" border="1" width=100%>
      <colgroup>
        <col style="width:20%">
        <col style="width:40%">
        <col style="width:20%">
        <col style="width:5%">
        <col style="width:5%">
        
      </colgroup>
      <tbody>
      <tr>
        <th>Name</th>
        <th>Entity</th>
        <th>Status</th>
        <th>Severity</th>
        <th>Scoped</th>
      </tr>
      <% @issues.each do |issue| %>
        <tr>
          <td><a href="<%="/#{h @project_name}/issues/#{h issue.id}"%>"><%= h issue.name %></a></td>
          <td><%=issue.entity.name%><br><%issue.entity.aliases{ |x|%> <%=h x.name%> <br><%}%></td>
          <td><%=issue.status%></td>
          <td><%=issue.severity%></td>
          <td><%=issue.scoped%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <a href="/<%=h @project_name%>/issues?page=<%=@page-1%>">previous</a>
    <a href="/<%=h @project_name%>/issues?page=<%=@page+1%>">next</a>
  </div>
  </div>
</div>
</div>