<h3>Task</h3>
<div class="row">
  <%= erb :'tasks/_task_runner' %>
<div id="metadata" class="col-sm-7"></div>
</div>
<br/>
<h4>Tasks</h4>
<ul>
<% @task_results.page(@page, :per_page => 10).each do |x| %> <li><a href="/v1/<%=@project_name%>/task_results/<%=x.id%>"><%= h x.task_name %> on <%= h x.base_entity %> </a></li><% end %>
</ul>
<%= @task_results.page(@page, :per_page => 10).pager.to_html("/v1/#{@project_name}/task") %>
