<h3>Task</h3>
<div class="row">
  <%= erb :'tasks/_task_runner' %>
<div id="metadata" class="col-sm-7"></div>
</div>
<br/>
<h4>Tasks</h4>
<ul>
<% @task_results.each do |x| %> <li><a href="/v1/task_results/<%=x.id%>"><%= x.task_name %> on <%= x.base_entity %> </a></li><% end %>
</ul>
<%= @task_results.pager.to_html('/task') %>

<!--
Available Task Details:
<pre>
  <% @tasks.each do |t| %>
    <%= t.metadata.to_json %>
  <% end %>
</pre>
-->
