<h3>Task</h3>
<div class="row">
  <%= erb :'tasks/_task_runner' %>
<div id="metadata" class="col-sm-7"></div>
</div>
<br/>
<h4>Results</h4>
<ul>
<% Intrigue::Model::TaskResult.scope_by_project(@project_name).where(:autoscheduled => false).each do |x| %> <li><a href="/v1/<%=@project_name%>/task_results/<%=x.id%>"><%= h x.task_name %> on <%= h x.base_entity %> </a></li><% end %>
</ul>
