<h3>Task Result: <a href="<%=@rerun_uri || nil%>"><%=@result.task_name %></a> </h3>
<p>ID: <%=@result.id %> </p>
<p>Start: <%=@result.timestamp_start %> </p>
<p>End: <%= @result.timestamp_end %> </p>
<p>Elapsed (s): <%= @elapsed_time %> </p>
<p>Entity: <a href=/v1/entities/<%=@result.base_entity.id if @result.base_entity %>><%= h "#{@result.base_entity}" %></a></p>
<p>Complete: <%= @result.complete %></p>
Export:
<ul>
  <li><a href=<%="#{request.url}.csv"%>> CSV </a></li>
  <li><a href=<%="#{request.url}.json"%>> JSON </a></li>
  <li><a href=<%="#{request.url}.tsv"%>> TSV </a></li>
</ul>
Entities:
<div id="entities">
  <p>[Getting the entities...]</p>
</div>

<script>
// super hacky ajax
function getEntities(id){
  //get the list of tasks and rewrite the task
  $.getJSON(location.origin + "/v1/task_results/"+ id +".json", function(data) {
    console.log(data);
    $( "#entities" ).empty();
    // Set the values based on just this task's allowed type
    $( "#entities" ).innerHTML= "<ul><ul/>"
    $.each(data["entities"], function(id, hash) {
      $( "#entities" ).append( "<li><a href='/v1/entities/" + hash["id"] + "'> " + hash["type"] + ": "+  hash["name"] + "</a></br></li>" );
      });
    $( "#entities" ).append = "</ul>"
  });
}

window.setInterval(function(){
  getEntities(<%=@result.id%>);  //calling every 5 seconds
}, 5000);

//call right away
getEntities(<%=@result.id%>);

</script>

<%= erb :_log, :layout => false %>
