<h3>Task Result: <a href="<%=@rerun_uri || nil%>"><%=@task_result.task_name %></a> </h3>
<p>ID: <%=@task_result.id %> </p>
<p>Start: <%=@task_result.timestamp_start %> </p>
<p>End: <%=@task_result.timestamp_end%> </p>
<p>Elapsed (s): <%= @elapsed_time %> </p>
<p>Entity: <%= h "#{@task_result.entity.type} #{@task_result.entity.attributes['name']}"%> </p>
<p>New Entities:<p>
<ul>
  <% @task_result.entities.each do |entity| %>
    <li>
      <a href="/v1/?entity_id=<%=entity.id%>">
        <%= h entity.type %>: <%= h entity.attributes["name"] %>
      </a>
      <%= "<a target=\'_blank\' href=\'#{h entity.attributes["uri"]}\'>[link]</a>" if entity.attributes["uri"] %>
      <!--<span class="like-pre-white"><%= h entity.export_json %></span>-->
    </li>
  <% end %>
</ul>
<!-- Log: <span class="like-pre-dark"><%= h @task_result.log %></span><br/> -->
