<h3>TaskRun: <a href="<%=@rerun_uri || nil%>"><%=@task_run['task_name']%></a> </h3>
<p>ID: <%=@task_run['id']%> </p>
<p>Start: <%=@task_run['timestamp_start']%> </p>
<p>End: <%=@task_run['timestamp_end']%> </p>
<p>Elapsed (s): <%= @elapsed_time %> </p>
<p>Entity: <%= h "#{@task_run['entity']['ty pe']} #{@task_run['entity']['attributes']['name']}"%> </p>
<p>New Entities:
<ul>
  <% @task_run['entities'].each do |entity| %>
    <li>
      <a href="/v1/?type=<%=h entity["type"]%>&<%= h entity["attributes"].map{|k,v| "attrib_#{k}=#{v}"}.join("&") %>">
        <%= h entity["type"] %>: <%= h entity["attributes"]["name"] %>
      </a>
      <%= "<a target=\'_blank\' href=\'#{h entity["attributes"]["uri"]}\'>[link]</a>" if entity["attributes"]["uri"] %>
      <span class="like-pre-white">(<%=h entity.inspect %>)</span>
    </li>
  <% end %>
</ul>
</p>

Log:
<span class="like-pre-dark"><%= h @task_log %></span><br/>
