<div class="container-fluid">
<div class="row">
  <div id="aflkj" class="col-sm-12">
    <script type="text/javascript" src="/js/sorttable.js"></script>
    <style>
    /* Sortable tables */
    table.sortable {
      width: 100%;
      border: 0;
      table-layout:fixed;
      word-wrap:break-word;
      border-collapse:collapse;
    }

    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }
    </style>
    <p></p>
    <table class="sortable" border="1" width=100%>
      <colgroup>
        <col style="width:12%">
        <col style="width:6%">
        <col style="width:12%">
        <col style="width:35%">
        <col style="width:35%">
      </colgroup>
      <tbody>
      <tr><th>CVE</th><th>CVSSv3</th><th>CWE</th><th>CPE</th><th>Site</th></tr>
      <% @cves.each do |x| %>
        <tr>
          <td><%=h x["cve"] %> <a href='https://nvd.nist.gov/vuln/detail/<%=h x['cve']%>'>[NVD]</a></td>
          <td><%=h x["cvss_v3_score"] %></td>
          <td><%=h x["cwe"] %></td>
          <td><%=h x["cpe"] %></td>
          <td><a href="<%="/#{h @project_name}/entities/#{x["id"]}"%>"><%= h x["site"] %></a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>