<div class="container-fluid">
<div class="row">
  <div id="fingerprints" class="col-sm-6">
    <p>Fingerprints:</p>
    <p></p>
  </div>
</div>

<!-- Statistics! -->
<div class="row">
  <div id="aflkj" class="col-sm-12">
    <script type="text/javascript" src="/js/sorttable.js"></script>
    <style>
    /* Sortable tables */
    table.sortable {
      width: 100%;
      border: 0;
      table-layout:fixed;
      word-wrap:break-word;
      border-collapse:collapse;
    }

    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }
    </style>
    <p></p>
    <table class="sortable" border="1" width=100%>
      <colgroup>
        <col style="width:30%">
        <col style="width:30%">
        <col style="width:40%">
      </colgroup>
      <tbody>
      <tr><th>Fingerprint</th><th>CPE</th><th>Entity</th></tr>
      <% @selected_entities.each do |x| %>        
        <% fingerprint = x.details["fingerprint"] || [] %>
        <% fingerprint.each do |f| %>
        <tr>
          <td><%= h "#{f["vendor"]} #{f["product"]} #{f["version"]}"%> </td>
          <td><%= h f["cpe"] %></td>
          <td><a href="/<%=h @project_name %>/entities/<%=x.id%>"><%= h x.name  %></a></td>
        </tr>
       <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>