<div class="row">
  <div id="aflkj" class="col-sm-12">
    <script type="text/javascript" src="/js/sorttable.js"></script>
    <style>
    /* Sortable tables */
    table.sortable {
      width: 100%;
      border: 0;
      table-layout:fixed;
      word-wrap:break-word;
      border-collapse:collapse;
    }

    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }
    </style>
    <p></p>
    <table class="sortable" border="1" width=100%>
      <colgroup>
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:60%">
      </colgroup>
      <tbody>
      <tr><th>Name</th><th>Host</th><th>Services</th></tr>
      <% @services.each do |x| %>
        <tr>
          <td><a href="<%="/#{h @project_name}/entities/#{h x.id}"%>"><%= h x %></a></td>
          <td><a href="<%="/#{h @project_name}/entities/#{h x.get_detail("host_id")}"%>"> <%= h Intrigue::Core::Model::Entity.first(:id => x.get_detail("host_id"))  %></a></td>
          <td><pre><%=h x.details%></pre></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
