<div class="container-fluid">
<!-- Statistics! -->
<div class="row">
  <div id="asn_info" class="col-sm-6">
    <p>Network Providers:</p>
    <p>
      <% @networks.sort_by{|k,v| v.count }.reverse.each do |k,v| %>
        <%= v.count %>: <%= k %><br>
      <% end %>
    </p>
  </div>
  <div id="os_info" class="col-sm-6">
    <p>Geographies:</p>
    <p>
      <% @geos.sort_by{|k,v| v.count }.reverse.each do |k,v| %>
         <%= v.count %>: <%= k %><br>
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div id="aflkj" class="col-sm-12">
    <script type="text/javascript" src="/js/sorttable.js"></script>
    <style>
    /* Sortable tables */
    table.sortable {
      width: 100%;
      border: 0;
      table-layout:fixed;
      word-wrap:break-word;
      border-collapse:collapse;
    }

    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }
    </style>
    <p></p>
    <table class="sortable" border="1" width=100%>
      <colgroup>
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:15%">
      </colgroup>
      <tbody>
      <tr><th>Ip Address</th><th>Aliases</th><th>OS</th><th>Ports</th><th>Network</th><th>Country</th></tr>
      <% @entities.each do |x| %>
        <tr>
          <% next unless x.type_string == "IpAddress" %>
          <td><a href="<%="/#{h @project_name}/entities/#{h x.id}"%>"><%= h x.name %></a></td>
          <td><%= (x.aliases - [x.name]).map{|x| next unless !x.name.is_ip_address?; "<a href='/#{h @project_name}/entities/#{h x.id}'>#{h x.name}</a>" }.join("<br/>") %></td>
          <td><%= h x.details["os"].first["name"] if x.details["os"] && x.details["os"].first %> </td>
          <td><%= h "#{x.details["ports"].map{ |x| x["number"] }.join(", ") if x.details["ports"]}" %></td>
          <td><%= h "#{x.details["net_name"]}"%></td>
          <td><%= h "#{x.details["geolocation"]["country_code"] if x.details["geolocation"]}"%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>