<!-- Statistics! -->
<div class="row">
  <div id="aflkj" class="col-sm-12">
    <script type="text/javascript" src="/js/sorttable.js"></script>
    <style>
    /* Sortable tables */
    table.sortable {
      width: 100%;
      border: 0;
      table-layout:fixed;
      word-wrap:break-word;
      border-collapse:collapse;
    }

    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }
    </style>
    <p></p>
    <table class="sortable" border="1" width=100%>
      <colgroup>
        <col style="width:21%">
        <col style="width:19%">
        <col style="width:20%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
      </colgroup>
      <tbody>
      <tr><th>Screenshot</th><th>Name</th><th>Aliases</th><th>Stack</th><th>JQuery</th><th>Verbs</th><th>API</th></tr>
      <% @uris.each do |x| %>
        <tr>
          <!-- screenshots -->
          <% if x.has_detail("hidden_screenshot_contents") %>
            <td><a href="<%="/#{@project_name}/entities/#{x.id}"%>">
              <img style="border:3px solid blue" height=220 width=330 src="data:image/png;base64, <%= x.get_detail('hidden_screenshot_contents') %>" alt="screenshot" />
            </a>
            </td>
          <% else %>
           <td>No screenshot yet.</td>
          <% end %>
          <!-- name -->
          <td><a href="<%="/#{@project_name}/entities/#{x.id}"%>"><%= x.name %></a></td>
          <!-- aliases -->
          <td><%= (x.aliases - [x.name]).map{|x| x.name }.join("<br/>") %></td>
          <!-- stack -->
          <td>
            <%= "#{x.details["stack"].join("<br/>") if x.details["stack"]}" %>
          </td>
          <!-- scripts -->
          <td><%= "#{x.details["jquery"] if x.details["jquery"]}" %></td>
          <td><%= "#{x.details["verbs"] if x.details["verbs"]}" %></td>
          <td><%= "#{x.details["api_endpoint"] if x.details["api_endpoint"]}" %></td>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



<!-- Statistics! -->
<div class="row">
<div id="screenies" class="col-sm-12">
<% @uris.each do |x| %>

<% end %>
</div>
</div>
<script>document.getElementById("screenies").style.backgroundColor = "lightgrey";</script>
