<h3>Configuration</h3>

<form action="/v1/admin/config" method="post">
<table class="table table-striped table-bordered">
<tbody>
<% $intrigue_config["intrigue_global_module_config"].each do |k,v| %>
  <% next unless v["editable"] %>
  <tr>
    <td><a target="_blank" href=<%=v["uri"]%>><%= k %></a>:</td>
    <td><input class="form-control" style="width:400px" type="text" name="<%=k%>" value="<%="**********#{v["value"][-3..-1]}"%>"></td>
    <td><%= v["comment"] %></td>
  </tr>
  <% end %>
<tr><td><input class="btn btn-primary" type="submit"></td><td></td><td></td></tr>
<tbody>
</table>
</form>

<p>
<a href="/v1/admin/clear"> Clear all entities </a>
</p>
