  <a href="<%=@calculated_url%>&export=csv">Export CSV</a> | 
  <a href="<%=@calculated_url%>&export=json">Export JSON</a><br><br>

  <form class="form-horizontal" id="entity_search" target="_self" method="get" action="/<%=h @project_name%>/entities">

    Search:
    <input type="text" style='width:100%' class="form-control sm" id="search_string" name="search_string" value="<%= h params["search_string"] %>">
    <div class="hint">Search entities by name.</div>
    <br>
    Types:<br>
    <select size=15 style='height:100%; width:100%; color:#000000;' multiple name="entity_types[]">
      <% Intrigue::EntityFactory.entity_types.map{|x|x.to_s}.sort.each do |d| %>
        <option value="<%=h d%>" <%="selected" if (@entity_types && @entity_types.include?(d.to_s))%>> <%=h d.split(':').last%></option>
      <% end %>
    </select>
    <br/><br/>

    <input id="include_hidden" name="include_hidden" type="checkbox" <%='checked' if @include_hidden %> > Show Hidden <br/>
    <input id="only_scoped" name="only_scoped" type="checkbox" <%='checked' if @only_scoped %> > Only Scoped <br/>
    <input id="only_enriched" name="only_enriched" type="checkbox" <%='checked' if @only_enriched %>> Only Enriched <br/>
    <input id="grouped_entities" name="grouped_entities" type="checkbox" <%='checked' if @grouped_entities %> > Group View <br/>

    <input class="btn btn-primary" type="submit" value="Search">
  </form>
  <br>