  <p>
  Alias Group Count: <%= @group_count %><br/>
  Total Entities Count: <%= @entity_count %><br/>
  <!--Results Count: <%= Intrigue::Model::TaskResult.scope_by_project(@project_name).all.count %><br/>-->
  <a href="/<%=@project_name%>/entities.csv?search_string=<%=h @search_string%>&entity_types[]=<%=@entity_types.join(",") if @entity_types%>">Export CSV</a><br/>
  </p>

  <form class="form-horizontal" id="entity_search" target="_self" method="get" action="/<%=@project_name%>/entities">

    Search:
    <input type="text" style='width:100%' class="form-control sm" id="search_string" name="search_string" value="<%= h params["search_string"] %>">
    <br/>
    Types:<br/>
    <select size=8 style='height:200%; width:100%; color:#000000;' multiple name="entity_types[]">
      <% Intrigue::Model::Entity.descendants.map{|x|x.to_s}.sort.each do |d| %>
        <option value="<%=d%>" <%="selected" if (@entity_types && @entity_types.include?(d.to_s))%>> <%=d%></option>
      <% end %>
    </select><br/>
    <!--<input id="correlate" name="correlate" type="checkbox"> Correlate Entities <br/><br/>-->

    <input class="btn btn-primary" type="submit" value="Search">
  </form>
  <br/>
  <%= erb :'_statistics', :layout => false %>
