Entity Details:
<pre><%= h JSON.pretty_generate @entity.export_hash %></pre>
All Task Results: <a href="<%= task_result_uri @entity.task_result.id if @entity.task_result %>"> <%= @entity.task_result.task_name if @entity.task_result %> </a>
<br/><br/>
<%= "Scan Result: <a href=#{scan_result_uri @entity.scan_result.id}> #{@entity.scan_result}</a>" if @entity.scan_result %>
</br>

Run a task on this entity: </br>
<%= erb :'tasks/_task_runner' %>
