
<div class="container-fluid">
  
  

  <div class="row">
    <div class="col-sm-9">
      <h3>
      <% if @entity.details["uri"] %>
      <p><a href="<%= h @entity.details["uri"] %>"><%= h @entity %></a><br/></p>
      <% else %>
        <%= h @entity %>
      <% end %>
      </h3>
    </div>
    <div class="col-sm-3">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div></div>
          <div class="ml-auto">
            <a class="btn btn-primary" data-bs-target="#task_runner_modal" data-bs-toggle="modal" role="button">Start New Task</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">&nbsp;</div>
    <div class="col-sm">&nbsp;</div>  
  </div>  

  <div class="row"> 
    <div class="col-sm-5">
    
      <% if @entity.type_string == "Uri" && @entity.has_detail('extended_screenshot_contents') %>
      <div class="card transparent-card" >
        <div class="card-title h5">Screenshot</div>
        <div class="card-body">
        <div id="screenie">
          <img height=300 width=400 src="data:image/png;base64, <%= @entity.get_detail('extended_screenshot_contents') %>" alt="Screenshot" />
        </div>
        </div>
      </div>
      <% end %>


      <div class="card transparent-card">
      <div class="card-title h5">Discovery Context</div>
      <div class="card-body">

      <ul>
        <li>Enriched: <%= @entity.enriched ? checkmark_image : xmark_image %></li>
        <li>Scoped: <%= @entity.scoped ? checkmark_image : xmark_image %></li>
        <li>Hidden: <%= @entity.hidden ? checkmark_image : xmark_image %></li>
      </ul>
    
        Ancestors: <ul><% @entity.ancestors.each do |a|%> <%="<li><a href='/#{h @project_name}/entities/#{a.id}'>#{h a}</a></li>"%> <% end %> </ul>

        Aliased Entities: <br/>
        <ul>
        <%=out = []; results = @entity.aliases.uniq.sort_by{|x|x.name}; results.each {|x| 
          out << "<li><a href='/#{h @project_name}/entities/#{x.id}'>#{h x}</a></li>"; } if results; out.uniq.join("") %>
        </ul>
    
        Tasks that created this entity:<br/>
        <ul>
        <%= out = []; @entity.task_results.each {|x| 
          out << "<li><a href='/#{h @project_name}/results/#{x.id}'>#{h x.task_name} (#{h x.base_entity})</a></li>" }; out.uniq.join("") %>
        </ul>
    
        Tasks run on this entity:<br/>
        <ul>
        <%= out = []; results = Intrigue::Core::Model::TaskResult.scope_by_project(@project_name).where(:base_entity => @entity); results.each {|r| 
          out << "<li><a href='/#{h @project_name}/results/#{r.id}'>#{h r.task_name} (#{h r.base_entity})</a></li>"; }; out.uniq.join("") %>
        </ul>
    
        Entities discovered from this entity: <br/>
        <ul>
        <%=out = []; results = Intrigue::Core::Model::TaskResult.scope_by_project(@project_name).where(:base_entity => @entity); results.each {|r| 
          r.entities.each {|x| out << "<li><a href='/#{h @project_name}/entities/#{x.id}'>#{h x}</a></li>"; }}; out.uniq.join("") %>
        </ul>
    
      </div>
      </div>

    </div>

    <div class="col-sm-7">

      <div class="card transparent-card">
      <div class="card-body">
        <div class="card-title h5">Entity Details</div>
          <div><pre class="prettyprint"><%=h JSON.pretty_generate @entity.short_details %></pre></div>
        </div>
      </div>
      </div>
    </div>
    
  </div>
</div>


<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


<%= erb :'_task_runner_modal' %>