Entity Details:
<pre><%= h JSON.pretty_generate @entity.export_hash %></pre>

Scans that created this entity:
<ul>
<%= out = ""; @entity.scan_results.each {|x| out << "<li><a href='/v1/scan_results/#{x.id}'>#{x.name} (#{x.base_entity})</a></li>" }; out %>
</ul>
<br/>
<br/>

Tasks that created this entity:<br/>
<ul>
<%= out = ""; @entity.task_results.each {|x| out << "<li><a href='/v1/task_results/#{x.id}'>#{x.task_name} (#{x.base_entity})</a></li>" }; out %>
</ul>
<br/>
<br/>

Tasks run on this entity:<br/>
<ul>
<%= out = ""; results = Intrigue::Model::TaskResult.current_project.all(:base_entity => @entity); results.each {|r| out << "<li><a href='/v1/task_results/#{r.id}'>#{r.task_name} (#{r.base_entity})</a></li>"; }; out %>
</ul>
<br/>
<br/>

Entities discovered from this entity: <br/>
<ul>
<%=out = ""; results = Intrigue::Model::TaskResult.current_project.all(:base_entity => @entity); results.each {|r| r.entities.each {|x| out << "<li><a href='/v1/entities/#{x.id}'>#{x.type}: #{x.name}</a></li>"; }}; out %>
</ul>
<br/>
<br/>


Export this entity: <br/>
<ul>
<li><a href=<%="#{request.url}.json"%>> JSON </a></li>
</ul>

Run a task on this entity: <br/><br/>
<%= erb :'tasks/_task_runner' %>
