<!-- name -->
<h3>
<% if @entity.details["uri"] %>
 <p><a href="<%= h @entity.details["uri"] %>"><%= h @entity.name %></a><br/></p>
<% else %>
   <%= h @entity.name %>
<% end %>
</h3>

Details:
<pre><%=h JSON.pretty_generate(@entity.export_hash) %></pre>

Aliases: <br/>
<ul>
<%=out = ""; results = @entity.aliases; results.each {|x| out << "<li><a href='/v1/#{@project_name}/entities/#{x.id}'>#{x.type_string}: #{h x.name}</a></li>"; }; out %>
</ul>
<br/>
<br/>

Tasks that created this entity:<br/>
<ul>
<%= out = ""; @entity.task_results.each {|x| out << "<li><a href='/v1/#{@project_name}/task_results/#{x.id}'>#{h x.task_name} (#{h x.base_entity})</a></li>" }; out %>
</ul>
<br/>
<br/>

Tasks run on this entity:<br/>
<ul>
<%= out = ""; results = Intrigue::Model::TaskResult.scope_by_project(@project_name).all(:base_entity => @entity); results.each {|r| out << "<li><a href='/v1/#{@project_name}/task_results/#{r.id}'>#{h r.task_name} (#{h r.base_entity})</a></li>"; }; out %>
</ul>
<br/>
<br/>

Entities discovered from this entity: <br/>
<ul>
<%=out = ""; results = Intrigue::Model::TaskResult.scope_by_project(@project_name).all(:base_entity => @entity); results.each {|r| r.entities.each {|x| out << "<li><a href='/v1/#{@project_name}/entities/#{x.id}'>#{x.type_string}: #{h x.name}</a></li>"; }}; out %>
</ul>
<br/>
<br/>

Export this entity: <br/>
<ul>
<li><a href=<%="#{request.url}.json"%>> JSON </a></li>
</ul>

Run a task on this entity: <br/><br/>
<%= erb :'tasks/_task_runner' %>
