
<div class="col-sm-5">
<form class="form-horizontal" id="entity_search" target="_self" method="post" action="/v1/<%=@project_name%>/entities">
  <div class="form-group">
    <label for="entity_name" class="col-xs-4 control-label">Entity Name</label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-sm" id="entity_name" name="entity_name">
      <input class="btn btn-primary" type="submit" value="Search">
      <hr></hr>
    </div>
  </div>
</form>

<ul>
  <% @entities.each do |entity| %>
    <li><a href="/v1/<%=@project_name%>/entities/<%=entity.id%>"><%= h entity %></a></li>
  <% end %>
</ul>

<%= @entities.pager.to_html("/v1/#{@project_name}/entities") %>
