<script language="javascript" type="text/javascript">
function delete_entity(id)
{
  var check = confirm('Are you sure?');
  if (check == true) {
      document.entity_delete_form.entity.value = id;
      document.entity_delete_form.action = "/v1/<%=@project_name%>/entities/" + id + "/delete"
      document.entity_delete_form.submit();
      return true;
  }
  else {
      return false;
  }
}
</script>

<p>
Entities Count: <%= @entities.count %><br/>
Task Results Count: <%= Intrigue::Model::TaskResult.scope_by_project(@project_name).all.count %><br/>
</p>

<div class="col-sm-2">

  <form class="form-horizontal" id="entity_search" target="_self" method="get" action="/v1/<%=@project_name%>/entities">

    Search:
    <input type="text" style='width:100%' class="form-control sm" id="search_string" name="search_string"><br/>

    Types:<br/>
    <select size=10 style='height:100%; color:#000000;' multiple name="entity_types[]">
      <% Intrigue::Model::Entity.descendants.map{|x|x.to_s}.sort.each do |d| %>
        <option value="<%=d%>" selected><%=d%></option>
      <% end %>
    </select><br/>


    <input class="btn btn-primary" type="submit" value="Search">
  </form>
</div>
<div class="col-sm-10">

  <script src="/js/sorttable.js"></script>
  <style>
  /* Sortable tables */
  table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
  }
  </style>

  <table class="sortable" border="1">
    <tr><th>type</th><th>names</th><th>details</th></tr>
    <% @entities.sort_by{|e| e.type_string}.each do |e| %>
      <tr>
        <td><a href="javascript:delete_entity('<%= e.id %>')">[x]</a> <%=e.type_string%></td>
        <td><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.unique_names.join(" | ")}" %></a></td>
        <%= e.type_string =~ /Uri/ ? "<td>Web: #{ e.details["stack"].to_a.join(" | ")}<td>" : "" %>
        <%= e.type_string =~ /Host/ ? "<td>OS: #{ e.details["os"].to_a.first}<td>" : ""  %>
          <%= e.type_string =~ /NetworkService/ ? "<td>Service: #{ e.details["fingerprint"]}<td>" : "" %>
        <%= e.type_string =~ /SslCertificate/ ? "<td>Issuer: #{ e.details["issuer"]}<td>" : "" %>
        <%= "<td></td>" unless e.type_string =~ /Host/ || e.type_string =~ /NetworkService/ || e.type_string =~ /SslCertificate/ || e.type_string =~ /Uri/ %>

      </tr>
    <% end %>
  </table>

<form name="entity_delete_form" method="get"><input type="hidden" id="entity" name="entity"/></form>
