<script language="JavaScript" type="text/javascript">
function delete_entity(id)
{
  var check = confirm('Are you sure?');
  if (check == true) {
      document.entity_delete_form.entity.value = id;
      document.entity_delete_form.action = "/v1/<%=@project_name%>/entities/" + id + "/delete"
      document.entity_delete_form.submit();
      return true;
  }
  else {
      return false;
  }
}
</script>

<p>
Entities Count: <%= @entities.count %><br/>
Task Results Count: <%= Intrigue::Model::TaskResult.scope_by_project(@project_name).all.count %><br/>
</p>

<div class="col-sm-6">

  <form class="form-horizontal" id="entity_search" target="_self" method="post" action="/v1/<%=@project_name%>/entities">

    Search:
    <input type="text" style='width:50%' class="form-control sm" id="search_string" name="search_string"><br/>

    Types:<br/>
    <select size=10 style='height:50%; color:#000000;' multiple name="entity_types[]">
      <% Intrigue::Model::Entity.descendants.map{|x|x.to_s}.sort.each do |d| %>
        <option value="<%=d%>" selected><%=d%></option>
      <% end %>
    </select><br/>


    <input class="btn btn-primary" type="submit" value="Search">
  </form>
</div>
<div class="col-sm-6">

  <ul>
    <% @entities.each do |entity| %>
      <li><a href="/v1/<%=@project_name%>/entities/<%=entity.id%>"><%= h entity %></a> <a href="javascript:delete_entity('<%= entity.id %>')">[x]</a> </li>
    <% end %>
  </ul>
</div>

<form name="entity_delete_form" method="get"><input type="hidden" id="entity" name="entity"/></form>
