<script language="javascript" type="text/javascript">
function delete_entity(id)
{
  var check = confirm('Are you sure?');
  if (check == true) {
      document.entity_delete_form.entity.value = id;
      document.entity_delete_form.action = "/v1/<%=@project_name%>/entities/" + id + "/delete"
      document.entity_delete_form.submit();
      return true;
  }
  else {
      return false;
  }
}
</script>

<div class="col-sm-2">
  <p>
  Entities Count: <%= @entities_count %><br/>
  Results Count: <%= Intrigue::Model::TaskResult.scope_by_project(@project_name).all.count %><br/>
  <a href=<%="#{request.url}.csv"%>>Export CSV</a><br/>
  </p>

  <form class="form-horizontal" id="entity_search" target="_self" method="get" action="/v1/<%=@project_name%>/entities">

    Search:
    <input type="text" style='width:100%' class="form-control sm" id="search_string" name="search_string" value="<%= h params["search_string"]%>"><br/>
    <input id="inverse" name="inverse" type="checkbox"> Inverse <br/>

    Types:<br/>
    <select size=10 style='height:200%; color:#000000;' multiple name="entity_types[]">
      <% Intrigue::Model::Entity.descendants.map{|x|x.to_s}.sort.each do |d| %>
        <option value="<%=d%>"><%=d%></option>
      <% end %>
    </select><br/>

    <input class="btn btn-primary" type="submit" value="Search">
  </form>
</div>
<div class="col-sm-10">
    <%= "Page: #{@page}" %>
    <%= "Results: #{@result_count * (@page-1)} .. #{@result_count * @page-1}" %>
    <a href="<%=request.path%>?page=<%=@page-1%>&search_string=<%=@search_string%>&<%=@entity_types.map{|x| "entity_types[]=#{x}" }.join("&") if @entity_types %>">previous</a>
    <a href="<%=request.path%>?page=<%=@page+1%>&search_string=<%=@search_string%>&<%=@entity_types.map{|x| "entity_types[]=#{x}" }.join("&") if @entity_types %>">next</a>

  <script src="/js/sorttable.js"></script>
  <style>
  /* Sortable tables */
  table.sortable {
    width: 100%;
    border: 0;
    table-layout:fixed;
    word-wrap:break-word;
    border-collapse:collapse;
  }

  table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
  }
  </style>
  <p></p>
  <table class="sortable table-striped" border="1" width=100%>
    <colgroup>
      <col style="width:25%">
      <col style="width:45%">
      <col style="width:30%">
    </colgroup>
    <tbody>
      <tr><th>name</th><th>aliases</th><th>details</th></tr>
    <% @entities.sort_by{|e| e.type_string}.each do |e| %>
      <tr>
        <td><a href="javascript:delete_entity('<%= e.id %>')">[x]</a> <a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e}" %></a></td>
        <td><% e.unique_aliases.each do |a| %>[<a href="/v1/<%=@project_name%>/entities/<%=a.id%>"> <%= h a %> </a>] <% end %></td>
        <td><a href="/v1/<%=@project_name%>/entities?search_string=<%=h e.detail_string%>"><%= h "#{e.detail_string}" %></a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
<form name="entity_delete_form" method="get"><input type="hidden" id="entity" name="entity"/></form>
</div>
