<script language="javascript" type="text/javascript">
  function delete_entity(id)
  {
    var check = confirm('Are you sure?');
    if (check == true) {
        document.entity_delete_form.entity.value = id;
        document.entity_delete_form.action = "/<%=h @project_name%>/meta_entities/" + id + "/delete"
        document.entity_delete_form.submit();
        return true;
    }
    else {
        return false;
    }
  }
  </script>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <%= erb :'/entities/_search', :layout => false %>
    </div>

    <div class="col-sm-9">
      <div class="float-left">
        <a href="<%=@calculated_url%>&page=<%=@page-1%>">previous</a>
        <a href="<%=@calculated_url%>&page=<%=@page+1%>">next</a>
      </div>

      <div class="float-right">  
        <%= "Page: #{@page}" %> / <%= "Viewing Results: #{@count * (@page-1)} .. #{@count * @page-1}" %>
      </div>
      
      <script type="text/javascript" src="/js/sorttable.js"></script>
      <style>
      /* Sortable tables */
      table.sortable {
        width: 100%;
        border: 0;
        table-layout:fixed;
        word-wrap:break-word;
        border-collapse:collapse;
      }
    
      table.sortable thead {
          background-color:#eee;
          color:#666666;
          font-weight: bold;
          cursor: default;
      }
      </style>
      <p></p>
      <table class="sortable" border="1" width=100%>
        <colgroup>
          <col style="width:40%">
          <col style="width:60%">
        </colgroup>
        <tbody>
          <tr><th>name</th><th>details</th></tr>
          <% if @grouped_entities %>
            <% @alias_groups.each do |group| %>
              <% grouped_entities = group.entities %>
              <% grouped_entities = grouped_entities.reject{|x| !x.scoped } unless @include_unscoped %>
              <% grouped_entities = grouped_entities.reject{|x| x.hidden } unless @include_hidden %>
              <% next if grouped_entities.empty? %>
              <tr>
                <td>
                  <ul>
                  <% grouped_entities.each do |e| %>
                    <li>[<a href="/<%=h @project_name%>/entities/<%=e.id%>"> <%= h e %> </a>]</li>
                  <% end %>
                    </ul>
                  </td>
                  <td>
                    <ul>
                  <% grouped_entities.each do |e| %>
                    <li><a href="/<%=h @project_name%>/entities/<%=e.id%>"> <%= h e.detail_string %> </a></li>
                  <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
          <% else %>
              <% @selected_entities.each do |e| %>
              <tr>
                <td><a href="/<%=h @project_name%>/entities/<%=e.id%>"> <%= h e %> </a></td>
                <td><%= h e.detail_string %></td>
              </tr>
              <% end %> 
          <% end %>
        </tbody>
      </table>
      <a href="<%=@calculated_url%>&page=<%=@page-1%>">previous</a>
      <a href="<%=@calculated_url%>&page=<%=@page+1%>">next</a>
      <br><br><br>
    <form name="entity_delete_form" method="get"><input type="hidden" id="entity" name="entity"/></form>
    </div>
  </div>
</div>