<h3>Scan Result</h3>
<p> Total Entities: <%=@scan_result.entities.count%></p>
<p>New Entities:</p>
  <ul>
    <% @scan_result.entities.each do |entity| %>
      <li>
        <a href="/v1/?type=<%=h entity.type%>&<%= h entity.attributes.map{|k,v| "attrib_#{k}=#{v}"}.join("&") %>">
          <%= h entity.type %>: <%= h entity.attributes["name"] %>
        </a>
        <%= "<a target=\'_blank\' href=\'#{h entity.attributes["uri"]}\'>[link]</a>" if entity.attributes["uri"] %>
        <!--<span class="like-pre-white"><%= h entity.export_json %></span>-->
      </li>
    <% end %>
  </ul>
<p>Task Runs:</p>
  <ul>
  <% @scan_result.task_results.each do |x| %>
    <li> <a href="<%=$intrigue_server_uri%>/v1/task_results/<%=x.id%>"> <%= x.task_name %> <%= "[#{x.entity.type}:#{x.entity.attributes["name"]}]" %> (<%= x.entity_count %>)</a></li>
  <% end %>
  </ul>
