<h3>Scan Result</h3>
<p><a href="/v1/<%=@project_name%>/scan_results/<%=@result.id%>/profile">(Profile View)</a></p>
<p>Total Tasks: <%=@result.task_results.count%></p>
<p>Entity: <a href="/v1/<%=@project_name%>/entities/<%=@result.base_entity.id%>"><%= h "#{@result.base_entity.type_string} #{@result.base_entity.name}"%></a></p>
<p>Complete: <%= @result.complete %></p>
Export:
<ul>
  <li><a href=<%="#{request.url}.csv"%>> CSV </a></li>
  <li><a href=<%="#{request.url}.json"%>> JSON </a></li>
  <li><a href=<%="#{request.url}/graph.csv"%>> Graph (CSV) </a></li>
  <li><a href=<%="#{request.url}/graph.json"%>> Graph (JSON) </a></li>
  <li><a href=<%="#{request.url}/graph.gexf"%>> Graph (GEXF) </a></li>
</ul>
<p>New Entities:</p>
  <ul>
    <% @result.entities.each do |e| %>
    <li>
      <a href="/v1/<%=@project_name%>/entities/<%=h e.id%>">
        <%= h e.type_string %>: <%= h e.name %>
      </a>
      <%= "<a target=\'_blank\' href=\'#{h e.details["uri"]}\'>[link]</a>" if e.details["uri"] %>
      <!-- <span class="like-pre-white"> <%= h e %> </span>-->
    </li>
    <% end %>
  </ul>
<p>Task Runs:</p>
  <ul>
  <% @result.task_results.each do |x| %>
    <li> <a href="/v1/<%=@project_name%>/task_results/<%=x.id%>"> <%= h x.task_name %> <%= h "[#{x.base_entity}]" %></a></li>
  <% end %>
  </ul>

<%= erb :_log, :layout => false %>
