<script>
// super hacky ajax
function getResultJson(id){
  //get the list of tasks and rewrite the task
  $.getJSON(location.origin + "/<%=h @project_name%>/results/"+ id +".json", function(data) {
    
    //console.log(data);
    $( "#entities" ).empty();
    
    // Set the values based on just this task's allowed type
    var entity_string="<ul>";
    $.each(data["entities"], function(id, hash) {
      type = hash["type"].split(':')[4];
      name = hash["name"];
      entity_string += "<li><a href='/<%=h @project_name%>/entities/" + hash["id"] + "'> " + type + ": " + name + "</a> ";
      if ("uri" in hash["details"]){
        entity_string += ("<a target='_blank' href='" + hash["details"]["uri"] + "'>[link]</a>");
      };
      entity_string += "</li>";
    });
    entity_string += "</ul>";
    //console.log(entity_string);
    $( "#entities" ).append(entity_string);

    $( "#issues" ).empty();
    // Set the values based on just this task's allowed type
    var entity_string="<ul>";
    $.each(data["issues"], function(id, hash) {
      name = hash["name"];
      //pretty_name = hash["details"]["pretty_name"];
      entity_string += "<li><a href='/<%=h @project_name%>/issues/" + hash["id"] + "'> " + name + "</a> ";
      if (hash["uri"]){
        entity_string += ("<a target='_blank' href='" + hash["uri"] + "'>[link]</a>");
      };
      entity_string += "</li>";
    });
    entity_string += "</ul>";
    //console.log(entity_string);
    $( "#issues" ).append(entity_string);
  });
}

window.setInterval(function(){
  getResultJson(<%=@result.id%>);  //calling every 2 seconds
}, 2000);

//call right away
getResultJson(<%=@result.id%>);
</script>
<div class="row">
<div class="col-sm-5">
  <h3>Task Result: <%=h @result.task_name %>&nbsp;<a href=<%="#{@rerun_uri}"%>><img width=20px src='/img/icons/cycle-white.png'></a></h3>
  <p>ID: <%=@result.id %> </p>
  <p>Start: <%=@result.timestamp_start %> </p>
  <p>End: <%= @result.timestamp_end %> </p>
  <p>Elapsed (s): <%= @elapsed_time %> </p>
  <p>Job ID: <%= @result.job_id %> </p>
  <p>Handlers: <%= @result.handlers %></p>
  <p>Depth: <%=@result.depth %> </p>
  <p>Entity: <a href="/<%=h @project_name%>/entities/<%=h @result.base_entity.id if @result.base_entity %>"><%= h "#{@result.base_entity}" %></a></p>
  <p>Options: <%=@result.options %> </p>
  <p>Cancelled: <%= @result.cancelled %> (<a href="<%=h request.path%>/cancel">Cancel</a>)</p>
  <p>Complete: <%= @result.complete %></p>
  <p>Entity Count: <%= @result.entities.count %></p>
  <p>Workflow: <%= @result.scan_result.workflow if @result.scan_result %></p>
  <p>Max Depth: <%=@result.scan_result.depth if @result.scan_result %> </p>

  Export:
  <ul>
    <li><a href=<%="#{request.url}.json"%>> JSON </a></li>
  </ul>
  Issues:
  <div id="issues">
    <p>[Gathering issues...]</p>
  </div>

  Entities:
  <div id="entities">
    <p>[Gathering entities...]</p>
  </div>

</div>
<div class="col-sm-7">

<%= erb :_log, :layout => false %>
</div>
</div>
