
<div class="row">

<div class="col-sm-2">
  <form class="form-horizontal" id="result_search" target="_self" method="get" action="/<%=h @project_name%>/results">

    Search:
    <input type="text" style='width:100%' class="form-control sm" id="search_string" name="search_string">
    <input id="inverse" name="inverse" type="checkbox"> Inverse <br/>
    <br/><br/>
    <input id="hide_cancelled" name="hide_cancelled" type="checkbox"> Hide Cancelled <br/>
    <input id="hide_enrichment" name="hide_enrichment" type="checkbox"> Hide Enrichment <br/>
    <input id="hide_autoscheduled" name="hide_autoscheduled" type="checkbox"> Hide Autoscheduled <br/>
    <input id="only_complete" name="only_complete" type="checkbox"> Only Complete <br/>
    <input class="btn btn-primary" type="submit" value="Search">
  </form>
  <br>
  <p>
  Result Count: <%= Intrigue::Core::Model::TaskResult.scope_by_project(@project_name).all.count %><br/><br/>
  <a href="<%=request.path%>/all/cancel">Cancel All Tasks</a>
  </p>
</div>

<div class="col-sm-10">

  <div class="float-right">
    <b><a href="<%=@calculated_url%>&page=<%=@page-1%>"><< previous</a></b> | 
    <b><a href="<%=@calculated_url%>&page=<%=@page-1%>">next >> </a></b>
  </div>
  
    <table id="results-table" class="tableish row-border">

    <thead class='tableish'>
      <tr class='tableish'>
        <th>Started At</th>
        <th>Task Name</th>
        <th>Entity Count</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody class='tableish'>
        <% @results.each do |x| %>
        <tr class='tableish'>
          <td>
          <div class='td-words'>
            <%= h x.timestamp_start %> 
          </div>
          </td>
          <td>
            <div class='td-words'>
              <a href="/<%=h @project_name%>/results/<%=x.id%>"><%= h x.task_name %> on <%= h x.base_entity.to_s %></a>
            </div>
          </td>
          <td>
            <div class='td-numbers'>
              <%= h x.entities.uniq.count %> 
            </div>
          </td>
          <td>
            <div class='td-images'>
            <% if  x.complete %>
              <img width=12 height=12 src='/img/icons/checkmark-white.png'>
            <% else %>
              <img width=12 height=12 src='/img/icons/xmark-white.png'>
            <% end %>
            </div>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <b><%= "Page: #{@page} / Viewing Results: #{@result_count * (@page-1)} .. #{@result_count * @page-1}" %></b>
</div>

<!--
<colgroup>
<col style="width:20%">  
<col style="width:65%">
<col style="width:9%">
<col style="width:9%">
</colgroup>
-->

<script>
$(document).ready( function () {
  $('#results-table').DataTable({
    "searching": false,
    "responsive": true,
    "stateSave": true,  
    "scrollCollapse": true,
    "paging": false,
    "info" : false,
    'columnDefs': [
      {'width': '20%', 'targets': 0},
      {'width': '60%', 'targets': 1},
      {'width': '10%', 'targets': 2},
      {'width': '10%', 'targets': 3}
    ]
  });
});
</script>