<p>
Task Results Count: <%= Intrigue::Model::TaskResult.scope_by_project(@project_name).all.count %><br/>
</p>



<div class="col-sm-2">
  <form class="form-horizontal" id="result_search" target="_self" method="get" action="/v1/<%=@project_name%>/results">

    Search:
    <input type="text" style='width:100%' class="form-control sm" id="search_string" name="search_string"><br/>
    <input class="btn btn-primary" type="submit" value="Search">
  </form>

</div>

<div class="col-sm-10">

  <script src="/js/sorttable.js"></script>
  <style>
  /* Sortable tables */
  table.sortable {
    width: 100%;
    border: 0;
    table-layout:fixed;
    word-wrap:break-word;
    border-collapse:collapse;
  }

  table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
  }
  </style>
  <p></p>
  <table class="sortable" border="1" width=100%>
    <colgroup>
      <col style="width:80%">
      <col style="width:10%">
      <col style="width:10%">
    </colgroup>
    <tbody>
      <tr><th>result</th><th>entity count</th><th>autoscheduled</th>
        <% @results.each do |x| %>
        <tr>
          <td><a href="/v1/<%=@project_name%>/results/<%=x.id%>"><%= h x.task_name %> on <%= h x.base_entity.to_s %></a> </td>
          <td><%= h x.entities.count %> <%="(incomplete)" unless x.complete%></td>
          <td><%= h x.autoscheduled %> </td>
        </tr>
        <% end %>
    </tbody>
  </table>
