<h3>Results</h3>
<ul>
<% Intrigue::Model::TaskResult.scope_by_project(@project_name).where(:autoscheduled => false).each do |x| %> <li><a href="/v1/<%=@project_name%>/results/<%=x.id%>"><%= h x.task_name %> on <%= h x.base_entity %> </a></li><% end %>
</ul>

<h3>Autoscheduled</h3>
<ul>
<% Intrigue::Model::TaskResult.scope_by_project(@project_name).where(:autoscheduled => true).each do |x| %> <li><a href="/v1/<%=@project_name%>/results/<%=x.id%>"><%= h x.task_name %> on <%= h x.base_entity %> </a></li><% end %>
</ul>
