<h3>Project Configuration</h3>

Project Created at: <%= @project.created_at %>

<br>

<form method=POST action="/<%= h @project_name%>/config">
  Allowed Global Namespaces for scoping (one per line):<br>
	<textarea name=allowed_namespaces rows="20" cols="80"><%= "#{h @project.allowed_namespaces.join("\n") if @project.allowed_namespaces}" %> </textarea><br>
    
	<input type="checkbox" value="use_standard_exceptions" class="checkbox_standard_exceptions" <%= "checked" if @project.use_standard_exceptions%>> Use Standard Exceptions? <br>
  <i>Note: Standard exceptions can be found in the file: <%=$intrigue_basedir%>/data/standard_name_exceptions.list</i>  <br>
  <input type="submit" value="Submit" class="btn btn-primary">
  <br><br>

</form>
  
