<h4> System Configuration </h4>
<form action="/system/config" method="post">
  Username: <input class="form-control" style="width:300px" type="text" name="username" value="<%=h @global_config.config["credentials"]["username"]%>">
  Password: <input class="form-control" style="width:300px" type="password" name="password" value="<%="**********"%>">
  
  <input class="btn btn-primary" type="submit">
</form>
<br>
<hr>
<br>
<h4> System Management </h4>
<form action="/system/sidekiq/clear" method="get">
  <input class="btn btn-primary" type="submit" value="Clear Sidekiq Queue">
</form>
<br>
<hr>
<br>
<% if Intrigue::Core::Model::GlobalEntity.first %>
<h4> Global Entities </h4>
Total Global Entities <%= Intrigue::Core::Model::GlobalEntity.count %><br>
<br>
Global Entities By Type:
<ul>
<% Intrigue::Core::Model::GlobalEntity.group_and_count(:type).sort_by{|x|x[:count]}.reverse.each do |t| %>
  <li><%=t[:type]%>: <%=t[:count]%></li>
<% end %>
</ul>
<% end %>