
<nav class="navbar navbar-expand-lg main-navbar">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" width="32px" height="32px" alt="intrigue">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

      <li class="nav-item"><a class="av-link active" href="/">Home</a></li>
      
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Start<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/<%=h @project_name %>/start">Single Task</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/start/upload">Upload File</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/config">Configuration</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/seeds">Seeds</a></li>
        </ul>
      </li>

      <li class="nav-item"><a href="/<%=h @project_name %>/entities">Entities</a></li>
      <li class="nav-item"><a href="/<%=h @project_name %>/issues">Issues</a></li>
      <li class="nav-item"><a href="/<%=h @project_name %>/results">Results</a></li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Analysis<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/<%=h @project_name %>/graph">Graph</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/domains?length=2">Domains</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/systems">Systems</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/services">Services</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/applications">Apps</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/certificates">App Certificates</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/ciphers">App Ciphers</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/cves">App Vulns (CVE)</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/javascripts">App Javascript</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/analysis/fingerprints">App Technology</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Export<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#"><b>Downloads</b></a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/export/csv">Download All Entities (CSV)</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/export/json">Download All Entities (JSON)</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/export/applications/csv">Download Applications (CSV)</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/export/issues/csv">Download Issues (CSV)</a></li>
          <li><a class="dropdown-item" href="/<%=h @project_name %>/export/graph_json">Download Project Graph (Graph JSON)</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#"><b>Handlers</b></a></li>
          <% Intrigue::HandlerFactory.handlers.sort_by{|h| h.metadata[:name]}.each do |h| %>
            <% next unless h.metadata[:type] == "export" %>
            <li class="dropdown-item"><a href=/<%= "#{@project_name}/handle/#{h.metadata[:name]}" %>><%= "#{h.metadata[:pretty_name]}" %></a></li>
          <% end %>
        </ul>
      </li>
    
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        System<span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="/system/config/tasks">Task Config</a></li>
        <!--<li><a href="/system/config/handlers">Handler Config</a></li>-->
        <li><a href="/system/entities">Entity List</a></li>
        <li><a href="/system/tasks">Task List</a></li>
        <li><a href="/sidekiq">Sidekiq</a></li>
      </ul>
    </li>
      
    </div>
  </div>
</nav>