<nav class="navbar navbar-expand-md bg-dark navbar-dark p-3">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" width="32px" height="32px" alt="intrigue">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-left">

      <li class="nav-item">
        <a class="nav-link" href="/"><span><img width='20' height='20' src="/img/icons/home-white.png"></span>&nbsp;Home</a>
      </li>
      
      <li class="nav-item nav-link">
        [<%= @project_name %>]
      </li>
      
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span><img width-20 height=20 src="/img/icons/start-white.png"></span>&nbsp;Start
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/start">Single Task</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/start/upload">Upload File</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/<%=h @project_name %>/entities"><span><img width-20 height=20 src="/img/icons/entity-white.png"></span>&nbsp;Entities</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/<%=h @project_name %>/issues"><span><img width-20 height=20 src="/img/icons/issue-white.png"></span>&nbsp;Issues</a>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span><img width-20 height=20 src="/img/icons/analyze-white.png"></span>&nbsp;Analysis
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/graph">Graph</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/domains?length=2">Domains</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/systems">Systems</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/services">Services</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/applications">Apps</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/certificates">App Certificates</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/ciphers">App Ciphers</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/cves">App Vulns (CVE)</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/javascripts">App Javascript</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/analysis/fingerprints">App Technology</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span><img width-20 height=20 src="/img/icons/download-white.png"></span>&nbsp;Export
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#"><b>Download</b></a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/export/csv">Download All Entities (CSV)</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/export/json">Download All Entities (JSON)</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/export/applications/csv">Download Applications (CSV)</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/export/issues/csv">Download Issues (CSV)</a></li>
          <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/export/graph_json">Download Project Graph (Graph JSON)</a></li>
          <li><hr class="dropdown-divider nav-link"></li>
          <li><a class="dropdown-item" href="#"><b>Send To... </b></a></li>
          <% Intrigue::HandlerFactory.handlers.sort_by{|h| h.metadata[:name]}.each do |h| %>
            <% next unless h.metadata[:type] == "export" %>
            <li><a class="dropdown-item nav-link" href=/<%= "#{@project_name}/handle/#{h.metadata[:name]}" %>><%= "#{h.metadata[:pretty_name]}" %></a></li>
          <% end %>
        </ul>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/<%=h @project_name %>/results"><span><img width-20 height=20 src="/img/icons/results-white.png"></span>&nbsp;Task Logs</a>
      </li>

    <li class="nav-item dropdown">
      <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span><img width-20 height=20 src="/img/icons/configuration-white.png"></span>&nbsp;Config
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#"><b>Project</b></a></li>  
        <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/config">Project Config</a></li>
        <li><a class="dropdown-item nav-link" href="/<%=h @project_name %>/seeds">Seeds</a></li>
        <li><a class="dropdown-item" href="#"><b>System</b></a></li>
        <li><a class="dropdown-item nav-link" href="/system/config/tasks">Task Config</a></li>
        <!--<li><a class="dropdown-item nav-link" href="/system/config/handlers">Handler Config</a></li>-->
        <li><a class="dropdown-item nav-link" href="/system/entities">Entity List</a></li>
        <li><a class="dropdown-item nav-link" href="/system/tasks">Task List</a></li>
        <li><a class="dropdown-item nav-link" href="/sidekiq">Sidekiq</a></li>
      </ul>
    </li>
    </div>

  </div>

</nav>