<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div style="width: 40px;">
        <a class="navbar-brand" href="/v1/">
          <img src="/img/logo.png" width="100%" style="line-height: 30px;" alt="intrigue">
        </a>
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/v1/">[<%=@project_name || "Default"%>]</a></li>
      <li><a href="/v1/<%=@project_name || "Default"%>/task?page=1">Task</a></li>
      <li><a href="/v1/<%=@project_name || "Default"%>/scan?page=1">Scan</a></li>
      <li><a href="/v1/<%=@project_name || "Default"%>/entities?page=1">Entities</a></li>
      <li><a href="/v1/<%=@project_name || "Default"%>/admin">Admin</a></li>
      <li><a href="/v1/<%=@project_name || "Default"%>/news">News</a></li>
    </ul>
  </div>
</nav>
