<div class="container-fluid">
<div class="card transparent-card">
<div class="card-body">

  <div class="row">
    <div class="new-project">
      
      <form name="project_delete_form" action="/project/delete" method="post">
        <input type="hidden" id="project" name="project"/>
      </form>

      <form class="form-inline" name="project_select_form" action="/project" method="post">
        <div style="width:60%;"  class="input-group">
          <input type="text" class="form-control mb-2" id="project" name="project" placeholder="Create a New Project" value=""/>
          &nbsp;
          <input class="btn btn-primary btn-md mb-2" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">  
    Or Select An Existing Project:
    
    <div class="table-responsive">
      
      <table id="projects-table" class="table table-striped borderless dark-header" width='100%'>
        
        <thead>
          <tr>
            <th class="td-words">Name</th>
            <th class="td-numbers">Issues</th>
            <th class="td-numbers">Entities</th>
            <th class="td-images">Created</th>
            <th class="td-images">Manage</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |p| %>
            <tr>
              <td class="td-words">
                <a href="/<%= h p.name %>/start"><%= h p.name %></b>
              </td>
              <td class="td-numbers"><%= p.issues.count %></td>
              <td class="td-numbers"><%= p.entities.count %></td>
              <td class="td-images"><%=h p.created_at.to_date %></td>
              <td class='td-images'><a href="javascript:delete_project('<%=h p.name%>')">
                <img width=10 height=10 src="img/icons/xmark-white.png"></a>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>

    </div>

  </div>
  
</div>
</div>
</div>

<script language="JavaScript" type="text/javascript">

  function set_project( name )
  {
    document.project_select_form.project.value = name;
    document.project_select_form.submit() ;
  }

  function delete_project( name )
  {
    var check = confirm('Are you sure?');
    if (check == true) {
        document.project_delete_form.project.value = name;
        document.project_delete_form.submit();
        return true;
    }
    else {
        return false;
    }
  }
</script>

<style>

.project-submit {
  margin-left: 10px;
  vertical-align: middle;
}

.new-project{
  padding-bottom: 20px;
}

</style>

<script>
$(document).ready( function () {
  $('#projects-table').DataTable({
    "searching": false,
    "ordering" : true,
    'autoWidth': true,
    'headers' : false,
    "responsive": true,
    "scrollCollapse": true,
    "paging": false,
    "info" : false,
    "stateSave": true,  
    "order": [[ 3, "desc" ]],
    'columnDefs': [
      {'width': '40%', 'targets': 0},
      {'width': '20%', 'targets': 1},
      {'width': '20%', 'targets': 2},
      {'width': '20%', 'targets': 3},
      {'width': '20%', 'targets': 4}
    ]
  });
});
</script>