<div class="container-fluid">
<div class="card">
<div class="card-body">
  <script language="JavaScript" type="text/javascript">
  <!--
  function set_project( name )
  {
    document.project_select_form.project.value = name;
    document.project_select_form.submit() ;
  }

  function delete_project( name )
  {
    var check = confirm('Are you sure?');
    if (check == true) {
        document.project_delete_form.project.value = name;
        document.project_delete_form.submit();
        return true;
    }
    else {
        return false;
    }
  }
  -->
  </script>
  <script type="text/javascript" src="/js/sorttable.js"></script>
  <style>
  /* Sortable tables */
  table.sortable {
    width: 100%;
    border: 0;
    table-layout:fixed;
    word-wrap:break-word;
    border-collapse:collapse;
  }

  table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
  }
  
  .project-submit {
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .new-project{
    padding-bottom: 20px;
  }

  </style>
  <div class = "row">  
    Select An Existing Project:
    <div class="projects-table">
      <table id="projects" class="sortable display responsive" border="1" width=100%>
        <thead>
          <tr>
            <th class="td-words">Name</th>
            <th class="td-numbers">Entities</th>
            <th class="td-numbers">Issues</th>
            <th class="td-images">Created</th>
            <th class="td-images">Manage</th>
          </tr>
        </thead>
        <tbody>
            <% @projects.each do |p| %>
          <tr>
            <td class="td-words"><a href="/<%= h p.name %>/start"x><%= h p.name %></a></td>
            <td class="td-numbers"><%= p.issues.count %></td>
            <td class="td-numbers"><%= p.entities.count %></td>
            <td class="td-images"><%=h p.created_at.to_date %></td>
            <td class='td-images'><a href="javascript:delete_project('<%=h p.name%>')">
              <img width=10 height=10 src="img/icons/xmark.png"></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>        
  </div>
  <div class="row">
    <p><hr/></p>
    <div class="new-project">
    <form class="form-inline" name="project_select_form" action="/project" method="post">
      <div class="form-group mb-2">
        <input type="text" class="form-control" id="project" name="project" placeholder="..or create a new project" value=""/>
      </div>
      <input class="btn btn-primary project-submit" type="submit" value="Submit" />
    </form>
    <form name="project_delete_form" action="/project/delete" method="post"><input type="hidden" id="project" name="project"/></form>
    </div>
  </div>


</div>
</div>
</div>