<h3>Statistics</h3>
Total Entities: <%= Intrigue::Model::Entity.scope_by_project(@project_name).count %> entities
<p>
  <ul>
    <% Intrigue::Model::Entity.descendants.each do |d| %>
    <% count = Intrigue::Model::Entity.scope_by_project_and_type(@project_name,d.to_s).count %>
    <% next unless count > 0 %>
    <li>
      <a href="/<%=@project_name%>/entities?entity_types[]=<%=d.to_s%>">
      <%= d.to_s.gsub(/^.*::/, '') %></a>:
      <%= count %>
    </li>
    <% end %>
  </ul>
</p>

<h3>Issues</h3>
<p><a href="/<%=@project_name%>/issues"><%= Intrigue::Model::Issue.scope_by_project(@project_name).count %> issues</a></p>

<h3>Seeds</h3>
<% seeds = Intrigue::Model::Project.first(name: @project_name).seeds || []%>
<p><a href="/<%=@project_name%>/seeds"><%= seeds.count %> seeds</a></p>