<div class="container-fluid">

<div class="card transparent-card">
<div class="card-title"><h4>Create A New Task</h4></div>
<div class="card-body">

<div class="row">
<div class="col-sm-7">
<form class="form-horizontal" id="task_runner" enctype="multipart/form-data" target="_self" method="post" action="/<%=h @project_name%>/interactive/upload">

  <div class="form-group">
    <!-- <select name="task" id="task_name"> -->
    <label for="task_name" class="col-xs-4 control-label">Task</label>
    <div class="col-xs-8">
    <select class="form-control input-sm" name="task" id="task_name">

      <!-- iterate through the tasks an create each one, checking to see if it matches our entity -->
      <% @task_classes.sort_by { |obj| obj.metadata[:pretty_name] }.each do |task_class| %>
        <% next unless ( @entity.allowed_tasks.include?(task_class) || task_class.metadata[:allowed_types].include?("*") ) if @entity %>

        <!-- set up the task in an option box, default to create_entity -->
        <option value="<%= task_class.metadata[:name] %>"
          <% if @task_result %>
            <%= "selected='selected'" if @task_result.task_name == task_class.metadata[:name] %>
          <% else %>
            <%= "selected='selected'" if task_class.metadata[:name] == "create_entity" %>
          <% end %>
          ><%= task_class.metadata[:pretty_name] %>
        </option>

      <% end %>
    </select>
    </div>
  </div>

  <div class="form-group">
    <!-- <select name="task" id="task_name"> -->
    <label for="file_format" class="col-xs-4 control-label">File Format</label>
    <div class="col-xs-8">
    <select class="form-control input-sm" name="file_format" id="file_format">
      <option value="entity_list" selected>Entity List (CSV Format: [TYPE,NAME])</option>
      <option value="intrigueio_fingerprint_csv">Collection Entity List (CSV Format [COLLECTION,TYPE,NAME])</option>
      <option value="otx_csv">Alienvault OTX (CSV)</option>
      <option value="binary_edge_jsonl">BinaryEdge (JSONL)</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <div id="file_upload">
      <label for="entity_file" class="col-xs-4 control-label">Entity File</label>
      <div class="col-xs-8"><input type="file" name=entity_file></div>
    </div>
  </div>

  <div class="form-group">
    <div id="options"></div>
  </div>

  <input type="hidden" name="depth" id="depth" value="6">

  <div id="workflow">
    <div class="form-group">
      <label for="attrib_name" class="col-xs-4 control-label">Workflow</label>
      <div class="col-xs-8">
        <select class="form-control input-sm" name="workflow" id="workflow">
          <option> [No Additional Workflow] </option>
          <!-- iterate through workflows -->
          <% Intrigue::WorkflowFactory.user_selectable_workflows.each do |wf| %>
            <option value="<%= h wf.name %>"> <%= h wf.pretty_name || wf.name %> </option>
          <% end %>
        </select>
        <div class="hint">'Workflow' specifies what we do with each discovered entity type. (Optional)</div>
      </div>
    </div>

<!--
  <div id="handler">
    <div class="form-group">
      <label for="handler" class="col-xs-4 control-label">Handlers</label>
      <div class="col-xs-6">
        <select class="form-control input-sm" name="handler" id="handler">
          <option value="none" selected="true">None</option>
          <option value="s3_json">S3 JSON</option>
        </select>
      </div>
    </div>
  </div>
-->

  <div id="enrich">
    <div class="form-group">
      <label for="options" class="col-xs-4 control-label">&nbsp;</label>
      <div class="col-xs-6">
        <input id="auto_enrich" name="auto_enrich" type="checkbox" checked>Auto Enrich<br/>
      </div>
    </div>
  </div>

  <hr></hr>
  <input class="btn btn-primary" type="submit" value="Run Task">
</form>
</div>

<div class="col-sm-5">
<p>
<div id="description" name="description">[description]</div>
</p>
<p>
<div id="links" name="links">[links]</div>
</p>
</div>

<script type="text/javascript" src="/js/task.js"></script>

</div>
</div>
</div>
</div>