<h3>Configuration</h3>

<form action="/v1/config" method="post">
<table class="table table-striped table-bordered">
<tbody>
<% $intrigue_config.each do |k,v| %>
  <tr>
    <td><a target="_blank" href=<%=v["uri"]%>><%= k %></a>:</td>
    <td><input class="form-control" style="width:400px" type="text" name="<%=k%>" value="<%=v["value"]%>"></td>
    <td><%= v["comment"] %></td>
  </tr>
  <% end %>
<tr><td><input class="btn btn-primary" type="submit"></td><td></td><td></td></tr>
<tbody>
</table>
</form>
