<h3>Dossier</h3>

<p>People:</p>
<ul>
  <% @persons.each do |e| %>
  <li><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.type_string} : #{e.name}"  %></a></li>
  <% end %>
</ul>

<p>Applications:</p>
<ul>
  <% @applications.each do |e| %>
  <li><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.type_string} : #{e.name}"  %></a></li>
  <% end %>
</ul>

<p>Network Services:</p>
<ul>
  <% @services.each do |e| %>
  <li><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.type_string} : #{e.name}"  %></a></li>
  <% end %>
</ul>

<p>DNS Records:</p>
<ul>
  <% @dns_records.each do |e| %>
  <li><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.type_string} : #{e.name}"  %></a></li>
  <% end %>
</ul>

<p>IP Addresses:</p>
<ul>
  <% @ip_addresses.each do |e| %>
  <li><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.type_string} : #{e.name}"  %></a></li>
  <% end %>
</ul>

<p>Networks:</p>
<ul>
  <% @networks.each do |e| %>
  <li><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.type_string} : #{e.name}"  %></a></li>
  <% end %>
</ul>
