<h3>Dossier</h3>
<script src="/js/sorttable.js"></script>
<style>
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
</style>
<table class="sortable" border="1">
  <tr><th>type</th><th>names</th><th>details</th></tr>
  <% @entities.sort_by{|e| e.type_string}.each do |e| %>
    <tr>
      <td><%=e.type_string%></td>
      <td><a href="/v1/<%=@project_name%>/entities/<%=h e.id%>"><%= h "#{e.unique_names.join(" | ")}" %></a></td>
      <%= e.type_string =~ /Uri/ ? "<td>Stack: #{ e.details["stack"].to_a.join(" | ")}<td>" : "" %>
      <%= e.type_string =~ /Host/ ? "<td>OS: #{ e.details["os"].to_a.first}<td>" : ""  %>
      <%= "<td></td>" unless e.type_string =~ /Host/ || e.type_string =~ /Uri/ %>
    </tr>
  <% end %>
</table>
