<h3>Start</h3>
<div class="row">
  <%= erb :'_task_runner' %>
</div><br/>
<h3>Statistics</h3>
<div class="col-sm-5">
<div class="row">
<p>
  <ul>
    <% Intrigue::Model::Entity.descendants.each do |d| %>
    <% count = Intrigue::Model::Entity.scope_by_project_and_type(@project.name,d.to_s).count %>
    <% next unless count > 0 %>
    <li>
      <a href="/v1/<%=@project.name%>/entities?entity_types[]=<%=d.to_s%>">
      <%= d.to_s.gsub(/^.*::/, '') %></a>:
      <%= count %>
    </li>
    <% end %>
  </ul>
  Total Entities: <%= @project.entities.count %><br/>
</p>
</div>
</div>
